<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content})}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="${loggedInUser.name}+' | SCM'">Dashboard Page</title>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
	rel="stylesheet" />
<link rel="stylesheet" data-th-href="@{'/css/output.css'}">
<link rel="stylesheet" th:href="@{'/css/style.css'}">
</head>
<body>



	<div id="content">
	
	<div class="pl-64 pt-20 flex justify-center">

		<div th:if="${loggedInUser}">
			<div th:replace="~{user/sidebar :: sidebar}"></div>
		</div>

		<div
			class="mt-8 w-full max-w-lg p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">

			<form class="space-y-6" th:action="@{'changepassword'}"
				th:method="post" novalidate>
				
				
				<h5
					class="text-xl font-medium text-gray-900 dark:text-white text-center">Update
					Password</h5>
					
					<div data-th-replace="message::messagebox"></div>
					
					
				<div class="text-red-600" th:if="${param.error}">
					user password Not Changed.</div>

				<!-- user name field for login -->
				<div>
					<label for="email"
						class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Old
						Password</label> <input type="text" name="oldPassword" id="email"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
						placeholder="old password" required />

					<!-- <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
						class="text-red-600 px-1 py-2">User is required</p> -->
				</div>

				<div>
					<label for="password"
						class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New
						password</label> <input type="password" name="newPassword" id="password"
						placeholder="••••••••"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
						required />

					<!-- <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
						class="text-red-600 px-1 py-2">User is required</p> -->
				</div>


				<button type="submit"
					class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Changed Password
				</button>
				
			</form>

		</div>

</div>

	</div>

</body>


</html>