<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content})}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Login Page</title>
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css"
	rel="stylesheet" />
<link rel="stylesheet" data-th-href="@{'/css/output.css'}">
</head>
<body>
	<div id="content" class="flex justify-center">

		<div
			class=" mt-8 w-full max-w-lg p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">

			<form class="space-y-6" th:action="@{'/restpassword'}"
				th:method="post" novalidate>
				
				 <div data-th-replace="message::messagebox"></div>
				
				<h5
					class="text-xl font-medium text-gray-900 dark:text-white text-center">Reset
					Password</h5>

				<div class="text-red-600" th:if="${param.error}">Invalid
					username and password.</div>

				<div class="text" th:if="${param.logout}">You have been logged
					out.</div>

				<!-- user name field for login -->
				<div>
					<label for="NewPassword"
						class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter
						New Password</label> <input type="text" name="newPassword" id="newPassword"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
						placeholder="Enter New Password" required />

					<!-- <p th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
						class="text-red-600 px-1 py-2">User is required</p> -->
				</div>

				<div>
					<label for="ConfirmPassword"
						class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Enter
						Confirm Password</label> <input type="text" name="confirmPassword" id="confirmPassword"
						placeholder="Enter Confirm Password"
						class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white"
						required />

					<!-- <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
						class="text-red-600 px-1 py-2">User is required</p> -->
				</div>
				
				
				<input type="hidden" name="resetPasswordId" id="resetPasswordId" th:value="${session.resetPasswordId}" />



				<button type="submit"
					class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Change Password
				</button>


			</form>

		</div>


	</div>


</body>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.js"></script>
</html>